body {
  margin: 0;
  padding: 0;
}
:root{
  --blue-bg-primary:#0a2744;
  --blue-bg-secondary:#14304d;
  --gray-primary:rgb(179, 179, 179);
  --gray-secondary:rgb(235,235,235);
  --gray3:rgb(104, 104, 104);
  --dark-blue-bg:rgb(79, 84, 103);
}